<header>

    <h2>HEADER</h2>

    <nav>
        <ul>
            <li><a href="/">LOGUIN</a></li>
            <li><a href="/">REGISTER</a></li>
            <li><a href="/">ADMINISTRADOR</a></li>
            <li><a href="/">OTRO</a></li>
        </ul>
    </nav>

</header>