<header>

    <a href="/"><h2>HEADER</h2></a>

    <nav class="nav-header">
        <ul>
            <li><a href="/administrador">ADMINISTRADOR</a></li>
            <li><a href="/users/login"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </nav>

    <div class="menu-burger">
        <i class="fa-solid fa-bars"></i>
    </div>
</header>